*{
    box-sizing: border-box;
    margin: 0;
}

html, body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F2DCD8;
}
/* style for the start screen*/


.header{
    width: 100%;
    height: 100%;
    display: flex;    /*change to display: none when start button clicked, on display non rn to syle quiz section   */
    justify-content: center;
    align-items: center;
}
.start{
    width: 50%;
    height: 200px;
    margin: auto;
    background-color: #BF877A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

#startbtn{
    margin-top: 20px;
    /* width:25%; */
    font-size: 20px;
    cursor: pointer;
}
#startbtn:hover{
    background-color: white;
}
/* end of start screen styling */

/* quiz section of the page */

main{
    width: 100%;
    height: 100%;
    display: none; /*display changes to flex */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.questionNum-score-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.question-answers-section{
    background-color: #BF877A;
    display: none; /*change to display flex when quiz is started */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 3px;
}

.question{
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

fieldset{
    font-size: 20px;
    width: 100%;
    text-align: center;
    border: none;
}

.button{
    font-size: 20px;
    margin-top: 20px;
}

.button:hover{
    background-color: white;
}

/* feed back page */

.feedback-section{
    width: 50%;
    height: 200px;
    background-color: #BF877A;
    display: none; /* display changed to flex after answer is submited*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    padding: 10px;
}
.correct-answer{
    font-size: 20px;
    padding-top: 150px;
    padding-bottom: 15px;
}

.results{
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #BF877A;
    display: none; /* display changed to flex after answer is submited*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
}
.end-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.result-end{
    text-align: center;
}
.final-score{
    list-style: none;
}
/* media querys for a responsive design */

@media screen and (max-width: 640px){
    .start{
        width: 100%;
    }
    .question-answers-section{
        width: 100%;
    }
    .feedback-section{
        width: 100%;
    }
}